@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --login-bg:#c0c0d7;
    --title-bg: #000000;
    --light-pink: #000000;
    --image-bg:  #eadbff ;
}

body {
    font-family: 'Poppins', sans-serif;
	
}

main{
	padding: 3.5rem 0;
	background-color:rgb(203, 191, 191);
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imag/Principaloojj.jpg');
}

h1{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
 
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	margin-top: 2.8rem;
	margin-right: auto;
	margin-left: auto;
}

.campo{
	display: flex;
	flex-direction: column;
	width: 14rem;
	margin: 0.5rem 0;
}

.campo label{
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
	color: #000000;
}

.campo input{
	font-size: 1.1rem;
	height: 2.2rem;
	padding-left: 0.5rem;
	border: 2px solid #000000;
	border-radius: 20px;
}

.campo select{
	font-size: 1.1rem;

	width: 12rem;
	height: 2.6rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 20px;
}

.textBox{
  text-align: center;
	display: flex;
	flex-direction: column;

	width: 310rem;
	margin: 0.75rem 0;
  border-radius: 5px;
}

textarea{
	font-size: 1.1rem;
  max-width: 100%;
	height: 10rem;
	max-height: 20rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 5px;
}

.textBox label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #000000;
}

/*botones de mi pagina */

.boton {
	display:flex;
	justify-content:center;
	width: 100%;
	margin-top: 1.75rem;
}



.boton button.guardar{
  
  background-color: #3ea835;
  justify-self: center;
  color:#fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
  margin: 0 auto;
  
}

.boton button.cancelar{
  
	background-color: #d41710;
	justify-self: center;
	color:#fff;
	text-decoration: none;
	padding: 13px 30px;
	border-radius: 32px;
  margin: 0 auto;
  
  }

  

  .boton button.guardar:hover {
    background-color:  #034574;
    transition: 0.5s; 
  } 
  
  .boton button.cancelar:hover {
    background-color:  #034574;
    transition: 0.5s; 
  } 

  @media only screen and (min-width:768px) and (max-width:980px)
{
    .formulario-orden{
        margin:auto;
        width:90%;
        margin-top: 100px;
        border-radius: 2%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        
                
    }
    
}

 /*login de mi pagina y formulario registro*/

 

  .inicio-contenedor {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.inicio-info-contenedor {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.imagen-contenedor {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.titulo {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.inicio-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.elemento-inicio-social {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento-inicio-social img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.elemento-inicio-social:hover {
    background-color: #fff;
}

.inicio-info-contenedor > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.entradas-contenedor {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.entrada, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.entrada {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.entrada:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    background-color: #2091f9;
    cursor: pointer;
}

.entradas-contenedor p {
    margin: 0;
}



@media screen and (max-width: 1000px) {
    .inicio-contenedor {
        width: 70%;
        margin-top: 3rem;
    }
    .inicio-info-contenedor {
        width: 100%;
        border-radius: 5px;
    }
    
    .imagen-contenedor {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .inicio-contenedor {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .inicio-contenedor {
        height: 90%;
    }

    .inicio-social {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .inicio-info-contenedor > p {
        margin: 0;
    }
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

